---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {}

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  data-slot="field-content"
  class={cn(
    "gap-1",
    "gap-0.5 group/field-content flex flex-1 flex-col leading-snug",
    className,
  )}
  {...rest}
>
  <slot />
</div>
