---
/**
 * @component Label
 * @title Label
 * @description A text label for form controls.
 * @figmaUrl https://www.figma.com/design/koxai7zw5vIuBzuVxe5T2l/bejamas-ui?node-id=2523-1293&t=YFStJ3V8fXEO8QD8-4
 *
 * @preview
 *
 * <div class="flex items-center space-x-2">
 *   <Checkbox id="terms" />
 *   <Label for="terms">Accept terms and conditions</Label>
 * </div>
 *
 * @usage
 *
 * ```astro nocollapse
 * ---
 * import { Label } from '@bejamas/ui/components/label';
 * ---
 *
 * <Label for="terms">Accept terms and conditions</Label>
 * ```
 */

import { cn } from "@/lib/utils";

const { class: className = "", ...props } = Astro.props;
---

<label
  data-slot="label"
  class={cn("gap-2 text-sm leading-none font-medium group-data-[disabled=true]:opacity-50 peer-disabled:opacity-50", 
    "gap-2 text-sm leading-none font-medium group-data-[disabled=true]:opacity-50 peer-disabled:opacity-50 flex items-center select-none group-data-[disabled=true]:pointer-events-none peer-disabled:cursor-not-allowed",
    className,
  )}
  {...props}
>
  <slot />
</label>
